<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <title>注册页面</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="app" ng-controller="MainController">

<div class="register-container">
    <h1>用户注册</h1>

    <div class="connect">
        <p>hello world. change the world.</p>
    </div>

    <form action="" method="post" id="registerForm">
        <div>
            <input class="phone_number" type="text" id="phonenumber" name="phonenumber" ng-model="data.phonenumber"
                   placeholder="输入手机号码" autocomplete="off"/>
        </div>
        <div>
            <input class="username" type="text" id="name" name="name" ng-model="data.name"
                   placeholder="您的用户名" autocomplete="off"/>
        </div>
        <div>
            <input class="password" type="password" id="password" name="password" ng-model="data.password"
                   placeholder="输入密码" oncontextmenu="return false" onpaste="return false"/>
        </div>
        <div>
            <input class="confirm_password" type="password" id="confirm_password" name="confirm_password"
                   placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false"/>
        </div>
       <!-- <div>
            <input class="email" type="email" id="email" name="email" ng-model="data.email"
                   placeholder="输入邮箱地址" oncontextmenu="return false" onpaste="return false"/>
        </div>-->
        <button type="button" ng-click="send()">发送验证码</button>
        <div>
            <input class="username" type="text" id="checkword" name="checkword" ng-model="data.checkword"
                   placeholder="输入验证码" autocomplete="off"/>
        </div>
        <button type="button" ng-click="check()">注 册</button>
    </form>
    <a href="modify.html">
        <br>
        <button type="button" class="register-tis">忘记密码？</button>
        </br>
    </a>
    <a href="index.html">
        <button type="button" class="register-tis">已经有账号？</button>
    </a>

</div>

<script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/common.js"></script>
<!--背景图片自动更换-->
<script src="js/supersized.3.2.7.min.js"></script>
<script src="js/supersized-init.js"></script>
<!--表单验证-->
<script src="js/jquery.validate.min.js?var1.14.0"></script>
<script src="js/register.js"></script>
</body>
</html>
